@font-face {
  font-family: 'Benyoritha';
  src: url('../fonts/Benyoritha-G334D.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Place CSS styles here */
body {
  background-color: #F8F4EF;
  border-top: 60px solid #2E1F18;
  font-family: "Din Alternative", sans-serif;
}

.bodoni {
  font-family: "Bodoni 72 Oldstyle", serif;
}

h1 {
  font-family: 'Benyoritha', serif;
  font-size: 500;
  font-weight: 200;
  text-align: center;
  color: #2E1F18;
  margin-top: 25px;
}

h2 {
  font-weight: 300;
  text-align: center;
  color: #2E1F18;
  margin-top: 40px;
}

h3 {
  font-weight: 200;
  text-align: center;
  color: #2E1F18;
  margin: 150px;
}

.section-divider {
  width: 90px;
  height: 8px;
  background-color: #2E1F18;
  margin: 150px auto;
  border-radius: 5px;
}

.box-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 50px 0;
  flex-wrap: wrap;
}
.box {
  width: 150px;
  height: 200px;
  border: 3px solid #f472b6;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-weight: bold;
  font-family: 'Deseo', sans-serif;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  padding: 10px;
}

.word-container {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin: 50px 0;
}
.word {
  font-family: 'Benyoitha', cursive;
  font-weight: 300;
  font-size: 4em;
  color: #c084fc;
  text-align: center;
}

.box-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 50px 0;
  flex-wrap: wrap;
}
.text-box {
  width: 200px;
  padding: 20px;
  border: 3px solid #f472b500;
  border-radius: 12px;
  background-color: #fdf2f800;
  text-align: center;
}

p {
  font-family: "Din Alternate", sans-serif;
  font-weight: 200;
  color: #2E1F18;
  margin: 150px;
}

.box-heading {
  font-family: "Bodoni 72 Oldstyle", serif;
  font-weight: 300;
  font-size: 2em;
  color: #c084fc;
  margin: 0 0 10px 0;
}
.text-box p {
  font-family: 'Deseo', sans-serif;
  font-size: 1em;
  color: #444;
  margin: 0;
}

